APP_NAME=EasyPDF
APP_ENV=local

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=easypdf
MYSQL_USER=root
MYSQL_PASSWORD=

API_KEY=
BASE_URL=https://api.openai.com/v1
MODEL_NAME=gpt-4.1-mini

STORAGE_DIR=../storage
TRANSLATION_CONCURRENCY=2
TRANSLATION_BATCH_SIZE=6
